*{
    /* Reglas del reset css (Para borrar los estilos predeterminados del navegador) */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222;
    color: #eee;
}
h1{
    width: 600px;
    text-align: center;
    background-color: #333;
    margin-bottom: 10px;
}
h2{
    width: 300px;
    text-align: center;
    background-color: #444;
}
main > span{
    background-color: #555;
    /* A los elementos inline no se les puede settear width ni height */
    width: 500px;
}
.parrafo1{
    width: 600px;
    height: 80px;
    background-color: #333;
    /* Controlar el exceso del tamano del contenido interno del elemento */
    overflow-x: hidden;
    overflow-y: scroll;
}
/* Relleno en un parrafo (bordes) se llama padding 
padding: 5px (todos)
padding: 5px 10px (arriba-abajo, izq-der)
padding: 5px 10px 15px 20px (arriba, der, abajo, izq)
padding-left padding-right padding-top padding-bottom
El borde de un parrafo es el border
border: 1px solid #fff
border-bottom: 1px solid #fff
El margen es margin
se aplica cuando hay dos parrafos contiguos y solo se puede aplicar a uno
misma notacion que el padding*/
section{
    background-color: #444;
    /* border: 1px solid transparent; */
    padding: 50px;
}
section h3{
    /* margin-top: 50px; */
    border: 1px solid yellow;
}